

.food-item{
    width: 100%;
    box-shadow: 0px 0px 10px black;
    transition: 0.3s;
    animation: fadeIn 1s;
    align-items: center;
    border-radius: 30px;
   
}
.food-item-info{
   
    padding: 20px;
}
 .food-item-name-rating{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 10px;
  
} 

.food-item-name-rating p{
    font-size: 20px;
    font-weight: 500;
}
.food-item-name-rating .stars{
   width: 110px;
   color: orange;

  
}
.food-item-desc{
    color: grey;
    font-size: 16px;

}
.food-item-price{
    color: tomato;
    font-weight: 500;
    font-size: 22px;
    margin: 5px 0px;
}

.food-item-img-container{
    position: relative;
}
.food-item-img-container .add{
    background-color: white;
    border-radius: 50px;
    height: 30px;
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
}
.food-item-counter{
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;
    width: 110px;
}
.food-item-counter p{
font-size: 20px;

}